@model UserPet
@{
    ViewBag.Title = "Create";
    Guid userId = Guid.Parse(User.FindFirst(ClaimTypes.NameIdentifier)?.Value!);
}


<link rel="stylesheet" href="~/css/content/EditForm.css" asp-append-version="true" />
<form method="post" enctype="multipart/form-data" asp-area="User" asp-controller="Pets" asp-action="CreatePet">
    <input asp-for="OwnerId" value="@userId" hidden />
    <h2>Pet information</h2>
    <div>
        <input type="text" placeholder="Pet Name" asp-for="Name" />
    </div>

    <div>
        <input type="text" placeholder="Pet Age" asp-for="Age" />
    </div>

    <div>
        <label>Select Pet Type</label>
        <select asp-for="Type">
            @foreach (PetType type in Enum.GetValues(typeof(PetType)))
            {
                <option value="@type">@type.ToString()</option>
            }
        </select>
    </div>
    <div>
        <label>Select image of your pet</label><br />
        <input type="file" name="file" />
    </div>
    <button type="submit">Create!!!</button>
</form>