@model List<UserPet>
@{
    ViewBag.Title = "Pets";
}

<h1>Your Pets</h1>
<a asp-area="User" asp-controller="Pets" asp-action="Create">Add New Pet</a>
@{
    foreach (UserPet pet in Model)
    {
        <div>
            <br />
            <div style="background-color: gray;">
                <h2>Name: @pet.Name</h2>
                <h2>Age: @pet.Age</h2>
                <a asp-area="User" asp-controller="Pets" asp-action="Edit" asp-route-id="@pet.Id">Edit</a>

                <form method="post" asp-area="User" asp-controller="Pets" asp-action="Delete" asp-route-id="@pet.Id">
                    <button type="submit">Delete</button>
                </form>
            </div>
            <br />
        </div>
    }
}