@model ApplicationUser
@{
    ViewBag.Title = "Authorization";
}
<form method="post">
    <div>
        <input placeholder="User Name: CozyHouseApp" style="width:400px" />
    </div>
    <div>
        <input placeholder="Password: CozyHouseStrongPassword" style="width:400px"  />
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
</form>