@model AuthorizationDTO
@{
    ViewBag.Title = "Authorization";
}

<link rel="stylesheet" href="~/css/authorization/authorization.css" asp-append-version="true" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />

<div class="tabs">
    <div class="tab active" onclick="showLogin()">LOGIN</div>
    <div class="tab" onclick="showRegister()">REGISTER</div>
</div>

<div class="form-container" id="RegistrationForm">
    <form method="post" asp-area="Guest" asp-controller="Authorization" asp-action="RegisterCommand" class="form">
        <input type="text" placeholder="Name/Last name" asp-for="RegisterDTO.UserName" required>
        <input type="email" placeholder="E-mail" asp-for="RegisterDTO.Email" required>
        <input type="password" placeholder="Password" asp-for="RegisterDTO.Password" required>
        <button type="submit">Register</button>
    </form>
    <div class="google-login">
    </div>
</div>

<div class="form-container" id="LoginForm">
    <form method="post" asp-area="Guest" asp-controller="Authorization" asp-action="LoginCommand" class="form">
        <input type="text" placeholder="E-mail" asp-for="LoginDTO.UserLogin" required>
        <input type="password" placeholder="Password" asp-for="LoginDTO.UserPassword" required>
        <button type="submit">Login</button>

    </form>
</div>

<div class="google-btn">
    <i class="fab fa-google"></i>  Continue with  <b>Google</b>
</div>
<br />
<br />

<script>
    const registrationForm = document.getElementById('RegistrationForm');
    const loginForm = document.getElementById('LoginForm');
    loginForm.style.display = "none";

    function showLogin() {
        loginForm.style.display = "flex";
        registrationForm.style.display = "none";
    }
    function showRegister() {
        loginForm.style.display = "none";
        registrationForm.style.display = "flex";
    }
</script>