@model RegisterDTO
@{
    ViewBag.Title = "Register";
}
<form method="post" asp-area="Guest" asp-controller="Authorization" asp-action="RegisterCommand">
    <div>
        <input placeholder="Login" style="width:400px" asp-for="Login" />
    </div>
    <div>
        <input placeholder="User Name" style="width:400px" asp-for="UserName" />
    </div>
    <div>
        <input placeholder="Email" style="width:400px" asp-for="Email" />
    </div>
    <div>
        <input placeholder="Phone Number" style="width:400px" asp-for="PhoneNumber" />
    </div>
    <div>
        <input placeholder="Password" style="width:400px" asp-for="Password" />
    </div>

    <div>
        <button type="submit">Register</button>
    </div>
</form>