<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CozyHouse</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CozyHouse.UI.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a asp-area="Manager" asp-controller="ManagerHome" asp-action="Index">Home</a></li>

                <li><a asp-area="Manager" asp-controller="Listing" asp-action="Index">Manage Listings</a></li>
                <li><a asp-area="Manager" asp-controller="Pet" asp-action="Index">Manage Pets</a></li>

                <li><a asp-area="Manager" asp-controller="ManagerHome" asp-action="LogoutCommand">Logout</a></li>
            </ul>
        </nav>
    </header>
    <div>
        @RenderBody()
    </div>

    <footer>
        <div>
            &copy; 2025 - CozyHouse - <a asp-area="Manager" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
