<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CozyHouse</title>
    <link rel="stylesheet" href="~/css/global.css" asp-append-version="true" />
    <link rel="shortcut icon" href="./img/favicon-32x32.png" type="image/x-icon">
</head>
<body>
    <div id="header-nav-container">
        <header>
            <a asp-controller="Home" asp-action="Index">Cozy House</a>
            <p>Shelter for pets in Ukraine</p>
        </header>
        <nav class="navbar">
            <ul>
                <li><a asp-controller="Pets" asp-action="Index">Pets</a></li>
                <li><a asp-controller="Authorization" asp-action="Index">Authorization</a></li>
            </ul>
        </nav>
    </div>




    <main>
        @RenderBody()
    </main>

    <footer>

    </footer>
</body>
</html>
