@model List<Request>
@{
    ViewBag.Title = "See Requests";
}

<h1>Adoption Requests</h1>
@{
    foreach (Request request in Model)
    {
        <form method="post" asp-area="Manager" asp-controller="ManagerHome" asp-action="CloseRequest" asp-route-id="@request.Id">
            <div>
                <br />
                <div style="background-color: gray;">
                    <h2>Adopter: @request.Adopter!.UserName</h2>
                    <h3>Pet: @request.Listing!.Pet.Name</h3>

                    <button type="submit">Close Request</button>
                </div>
                <br />
            </div>
        </form>
    }
}