@model IEnumerable<ApplicationUser>
@{
    ViewBag.Title = "Home";
}

<h1 style="font-size:28px;">Welcome, Manager @User.Identity?.Name</h1>
@{
    foreach (ApplicationUser user in Model)
    {
        <h2>(@user.UserName) Pets Adopted: @user.PetsAdopted; Publications Created: @user.PublicationsCreated</h2>
    }
}