@model List<UserRequest>
@{
    ViewBag.Title = "User Requests";
}

<h1>See who wishes to adopt your pets</h1>
@{
    foreach (UserRequest request in Model)
    {
        <div>
            <br />
            <div style="background-color: gray;">
                <h2>Adopter: @request.Adopter.UserName</h2>
                <h3>Pet: @request.Listing.Pet.Name</h3>
            </div>
            <br />
        </div>
    }
}