@font-face {
    font-family: 'Georgia';
    src: url(./fonts/georgia/georgia-regular.ttf);
}

@font-face {
    font-family: 'Arial-regular';
    src: url(./fonts/arial/arial-regular.ttf);
}

@font-face {
    font-family: 'Arial-italic';
    src: url(./fonts/arial/arial-italic.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding-top: 80px;
}

a {
    font-family: 'Georgia';
}
/* HEADER CONFIGURATIONS */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 80px;
    background-image: url('/img/start-screen-gradient-background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    z-index: 1000;
}

/* Навігація */
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

    nav ul li {
        display: inline;
    }

        nav ul li a {
            color: white;
            font-size: 16px;
            font-weight: bold;
            padding: 5px 10px;
            text-decoration: none;
            transition: color 0.3s ease-in-out;
        }
            nav ul li a:hover {
                color: #F1CDB3; /* Highlight on hover */
            }


/* FOOTER CONFIGURATIONS */
footer {
    background-image: url('/img/start-screen-gradient-background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer-content {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 1280px;
    height: 350px;
    gap: 160px;
    box-sizing: border-box;
}
