* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 80px;
}

/*HEADER CONFIGURATIONS*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-image: url('../../img/start-screen-gradient-background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    z-index: 1000;
}

/* FOOTER CONFIGURATIONS */
footer {
    background-image: url('../../img/start-screen-gradient-background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: auto; 
}

.footer-content {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 1280px;
    height: 350px;
    gap: 160px;
    box-sizing: border-box;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

    nav ul li {
        display: inline;
    }

        nav ul li a {
            font-size: 16px;
            font-weight: normal;
        }
