.listing-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px;
    background-color: #F6F6F6;
    min-height: 100vh;
}

.listing-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: white;
    padding: 30px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 250px;
    text-align: center;
    max-height: 180px;
    margin: 0 auto;
}

    .listing-card label {
        font-family: 'Georgia', serif;
        font-size: 18px;
        color: #545454;
        margin-bottom: 10px;
    }

    .listing-container a,
    .listing-card a,
    .listing-card button {
        display: inline-flex; 
        align-items: center; 
        justify-content: center; 
        text-align: center;
        background-color: #F1CDB3;
        color: #292929;
        border-radius: 50px;
        padding: 10px 20px; 
        font-family: 'Georgia', serif;
        font-size: 15px;
        font-weight: bold;
        transition: 0.3s ease-in-out;
        text-decoration: none;
        border: none;
        cursor: pointer;
        white-space: nowrap; 
        height: 
    }

        .listing-card a:hover,
        .listing-card button:hover {
            border: 1px solid #8c7361da;
            background-color: #e2b89a;
        }
