

/*h1 {
    font-family: 'Georgia', serif;
    color: #333;
    font-size: 36px;*/ /* Робимо більшим */
    /*font-weight: bold;*/ /* Жирний */
    /*text-align: center;*/ /* Центруємо */
    /*margin-bottom: 20px;
}*/


/*МАЄ БУТИ В ІНШОМУ ФАЙЛІ*/
/* Центруємо контейнер заголовка і кнопки */
/*.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}*/

/* Стилізація кнопки "Add New Pet" */
/*.add-pet-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    color: #b0855b;
    border: 2px solid #b0855b;
    border-radius: 20px;
    text-decoration: none;
    background: transparent;
    cursor: pointer;
    transition: 0.3s ease;
    text-align: center;
}*/

/*.add-pet-button:hover {
    background: #b0855b;
    color: white;
}*/





/*.pets-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}*/

/*.pets-buttons a, .pets-buttons button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    color: #b0855b;
    border: 2px solid #b0855b;
    border-radius: 20px;
    text-decoration: none;
    background: transparent;
    cursor: pointer;
    transition: 0.3s ease;
}*/

/*.pets-buttons a:hover, .pets-buttons button:hover {
    background: #b0855b;
    color: white;
}*/


