/*This file is used by pages where user/manager manage publications*/
h1 {
    font-family: 'Georgia', serif;
    color: #333;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.header-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: center;
}

.add-publication-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    color: #b0855b;
    border: 2px solid #b0855b;
    border-radius: 5px;
    background: transparent;
    cursor: pointer;
    transition: 0.3s ease;
    text-align: center;
    width: 50%;
}

.add-publication-button:hover {
    background: #b0855b;
    color: white;
    width: 100%;
}

.pets-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.pets-buttons a, .pets-buttons button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    color: #b0855b;
    border: 2px solid #b0855b;
    border-radius: 20px;
    text-decoration: none;
    background: transparent;
    cursor: pointer;
    transition: 0.3s ease;
}

.pets-buttons a:hover, .pets-buttons button:hover {
    background: #b0855b;
    color: white;
}