/*  TODO:
    
    Вирівняти картки: Кожна картка повинна мати певну висоту та ширину. У кожній картці зображення має бути розташоване 
    на однаковій висоті. Підписи, заголовки і текст повинні бути на однаковій висоті. Локацію розташувати
    в кінці картки. 
    
    Проблеми, що я помітив: 
    1) Чому тут було написано css для кнопки додавання нового допису? Та і інша купа всього теж була тут. 
    Файли не платні, тому сортуйте весь css по різним файлам
    2) Змінюйте HTML, якщо потрібно, бо я написав його швидкоруч, і до 6 квітня код не змінювався.
    Тому написати нормальний CSS складно.
    3) Не треба в кожному файлі відключати стилі і додавати шрифти. Це все зроблено в файлі global.css, який діє на всі сторінки.
    Там також вказано flow-direction: column. Якщо будуть інші глобальні властивості, які мусять працювати на кожній сторінці, то
    додавайте їх в global.css і не дублюйте код.
    
    Цей коментар видалити по закінченню роботи.
*/


/*This css file is responsible for displaying pet cards*/
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.publication {
    width: 250px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 20px;
    margin: 10px;
}

.middle-part img {
    width: 100%;
    border-radius: 10px;
}

.top-part h1 {
    font-size: 20px;
    color: #333;
    margin: 5px 0;
}

.publication h3 {
    font-size: 14px;
    color: #333;
    margin: 5px 0;
}

.publication h2 {
    font-size: 14px;
    color: #777;
}