<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CozyHouse</title>
    <link rel="stylesheet" href="~/css/content/HeaderManager.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-controller="PetPublication" asp-action="Index">Manage your publications</a></li>
                <li><a asp-controller="Home" asp-action="SeeShelterPublications">View pets in shelter</a></li>
                <li><a asp-controller="Home" asp-action="SeeUserPublications">View pets from users</a></li>
                <li><a asp-controller="UserRequest" asp-action="Index">See Adoption Requests</a></li>
                <li><a asp-controller="Home" asp-action="LogoutCommand">Logout</a></li>
                <li><a asp-controller="Home" asp-action="DeleteAccount">Delete Account</a></li>
            </ul>
        </nav>
    </header>
    <div>
        @RenderBody()
    </div>

    <footer>
        <div>
           
        </div>
    </footer>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
