@model List<UserListing>
@{
    ViewBag.Title = "User Listings";
}
<link rel="stylesheet" href="~/css/content/Listing.css" asp-append-version="true" />



<div class="listing-container">
    <h1>Your Listings</h1>
    <div class="create">
        <a asp-area="User" asp-controller="UserListings" asp-action="Create" class="listing-card-button">Create New Listing</a>
    </div>

    @foreach (UserListing listing in Model)
    {
        <div class="listing-card">
            <label>@listing.Title</label>

            <a asp-area="User" asp-controller="UserListings" asp-action="Edit" asp-route-id="@listing.Id" class="listing-card-button">Edit Existing Listing</a>

            <form method="post" asp-area="User" asp-controller="UserListings" asp-action="Delete" asp-route-id="@listing.Id">
                <button type="submit" class="listing-card-button">Delete!!!</button>
            </form>
        </div>
    }
</div>