@model Listing
@inject IPetRepository _petRepository
@{
    ViewBag.Title = "Create";
}
<form method="post" asp-area="Manager" asp-controller="Listing" asp-action="Create">
    <h1>Listing Creation</h1>
    
    <h2>Listing information</h2>

    <div>
        <input type="text" placeholder="Listing Title" asp-for="Title" />
    </div>

    <div>
        <textarea placeholder="Your pet description" asp-for="Content" ></textarea>
    </div>

    <div>
        <label>Select Pet To Publish</label>
        <select asp-for="PetId">
            @foreach (Pet pet in _petRepository.GetAll())
            {
                <option value="@pet.Id">Name: @pet.Name; Age: @pet.Age; Type: @pet.Type.ToString()</option>
            }
        </select>
    </div>
    <div>
        <button type="submit">Create!!!</button>
    </div>
</form>