@model List<Listing>
@{
    ViewBag.Title = "Manage Listings";
}

<a asp-area="Manager" asp-controller="Listing" asp-action="Create">Create New Listing</a>
@foreach (Listing listing in Model)
{
    <div>
        <br />
        <div style="background-color:gray">
            <label>@listing.Title</label>
            <a asp-area="Manager" asp-controller="Listing" asp-action="Edit" asp-route-id="@listing.Id">Edit Existing Listing</a>

            <form method="post" asp-area="Manager" asp-controller="Listing" asp-action="Delete" asp-route-id="@listing.Id">
                <button type="submit">Delete!!!</button>
            </form>
        </div>
        <br />
    </div>
}
